{% extends 'base.html.twig' %}
{% block title %}Produkty{% endblock %}
{% block body %}
    <main>
        <section class="sort">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
{#
            <label for="sort">Sortuj według:</label>
            <select id="sort">
                <option value="price-asc">Cena rosnąco</option>
                <option value="price-desc">Cena malejąco</option>
                <option value="name-asc">Nazwa A-Z</option>
                <option value="name-desc">Nazwa Z-A</option>
            </select>
#}
        </section>
        <section class="products">
            {% for product in products %}
                <article class="product">
                    <a href="{{ path('product_get', { id: product.id }) }}">
                        <img src="product.jpg" alt="{{ product.name }}">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.category }}</p>
                    </a>
                    <span class="price">{{ product.sellingPrice/100 }} PLN</span>
                    <button class="button_basket">Dodaj do koszyka</button>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}