{% extends 'base.html.twig' %}
{% block title %}
    | show {{product.id}}
{% endblock %}
{% block body %}
    <div class="product">
        <h5>Oto szczegółowe informacje o wybranym produkcie:</h5>

        <h2>Nazwa: {{product.name}} </h2>
        <h4> Kategoria: {{product.category.name}}</h4>

        <h4>Opis: </h4>
        <p>    {{ product.description }} </p>

        <span class="price">Cena: {{ product.sellingPrice/100 }} PLN</span>
        <button>Dodaj do koszyka</button>
    </div>

{% endblock %}